#wat_feedButton {
  list-style-image: url(chrome://messenger/skin/icons/server-newsblog.png);
  -moz-image-region: auto;
}

#mail-toolbox #wat_button {
  border: none;
}
#wat_button:hover {
  background: none;
  background-color: rgba(0,0,0,0.10);
}
#wat_urlbar {
  margin: 2px;
}
#wat_searchEngineButton {
  padding: 0 2px;
}
#wat_tabmailToolbar {
  -moz-appearance: none;
}

