
.error {
  color: red;
}

#wat_feedButton > .button-box > .box-inherit > .button-text,
#wat_feedButton > .button-box > .button-menu-dropmarker {
  display: none;
}

#wat_feedButton,
#wat_feedButton > .button-box,
#wat_feedButton:hover:active > .button-box {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}
#wat_feedButton {
  -moz-appearance: none;
  min-width: 0;
  margin-right: 1px !important;
  list-style-image: url(chrome://messenger-newsblog/skin/icons/rss-feed.png);
  -moz-image-region: rect(0, 16px, 16px, 0);
}

#wat_button {
  -moz-appearance: none;
  list-style-image: url("chrome://wat/skin/watIcon16.png");
  background: -moz-linear-gradient(top, #e3e3e3 0px, #e3e3e3 9px, #dedede 9px, #dedede 10px, #d9d9d9 10px, #e5e5e5 100%);
  border-right: 2px solid;
  border-top: 2px solid;
  border-left: 2px solid;
  -moz-border-top-colors: threedshadow #f2f2f2;
  -moz-border-left-colors: threedshadow #f2f2f2;
  -moz-border-right-colors: threedshadow #f2f2f2;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  margin: 2px 0 3px 0;
  padding: 0 !important;
  -moz-padding-start: 2px !important;
  -moz-padding-end: 1px !important;
}
#wat_button:hover {
  background: -moz-linear-gradient(top, #f6f6f6 0px, #ededed 9px, #e4e4e4 10px, #d6d6d6 10px, #e4e4e4 100%);
}
#wat_button image {
  margin-right: 0 !important;
}

#wat_urlbar {
  -moz-binding: url("chrome://global/content/bindings/autocomplete.xml#autocomplete");
  -moz-appearance: none;
  border: 1px solid threedshadow;
  border-radius: 4px;
  width: 16em;
  -moz-transition: width 0.3s;
  height: 20px !important;
  font: icon;
}
#wat_urlbar[focused] {
  width: 30em;
}

#wat_urlbar_container {
  padding-bottom: 1px;
}

#wat_button .toolbarbutton-text, #wat_searchEngineButton .toolbarbutton-text {
  display: none;
}
#wat_searchEngineButton { border: none; -moz-appearance: none; }
#wat_searchEngineButton .toolbarbutton-icon { -moz-margin-end: 1px; }
#wat_searchEngineMenuPopup menuitem[selected] {
  font-weight: bold;
}

#wat_bookmarksToolbar {
  list-style-image: url("chrome://wat/skin/places/bookmarksToolbar.png");
  -moz-image-region: auto;
}

#wat_PlacesToolbarItems > toolbarbutton .toolbarbutton-text { display: none; }

.bookmark-item {
  list-style-image: url("chrome://global/skin/icons/folder-item.png");
  -moz-image-region: rect(0, 16px, 16px, 0);
}
.bookmark-item[scheme=mailto] {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar-small.png");
  -moz-image-region: rect(0, 32px, 16px, 16px);
}
.bookmark-item[container] { -moz-image-region: rect(0, 32px, 16px, 16px); }
.bookmark-item[container][open] { -moz-image-region: rect(16px, 32px, 32px, 16px); }
.bookmark-item[container][livemark] {
  list-style-image: url("chrome://wat/skin/places/livemark-folder.png");
  -moz-image-region: auto;
}
.bookmark-item[container][livemark] .bookmark-item {
  list-style-image: url("chrome://wat/skin/places/livemark-item.png");
  -moz-image-region: auto;
}
.bookmark-item[container][query] {
  list-style-image: url("chrome://wat/skin/places/query.png");
  -moz-image-region: auto;
}
.bookmark-item[container][tagContainer] {
  list-style-image: url("chrome://mozapps/skin/places/tagContainerIcon.png");
  -moz-image-region: auto;
}
.bookmark-item[query][dayContainer] {
  list-style-image: url("chrome://browser/skin/places/calendar.png");
  -moz-image-region: auto;
}
.bookmark-item[query][hostContainer] {
  list-style-image: url("chrome://global/skin/icons/folder-item.png");
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}
.bookmark-item[query][hostContainer][open] {
  list-style-image: url("chrome://global/skin/icons/folder-item.png");
  -moz-image-region: rect(16px, 32px, 32px, 16px);
}

/*
 * AutoCompletePopup
 */
#PopupAutoCompleteRichResult {
  -moz-binding: url("chrome://wat/content/resultpopup.xml#rich-result-popup");
}
.autocomplete-richlistitem {
  -moz-binding: url("chrome://global/content/bindings/autocomplete.xml#autocomplete-richlistitem");
  -moz-box-orient: vertical;
  overflow: -moz-hidden-unscrollable;
}
.ac-comment {
  font-size: 1.15em;
}
.ac-extra > .ac-comment {
  font-size: inherit;
}
.ac-url-text, .ac-action-text {
  color: -moz-nativehyperlinktext;
}
.ac-result-type-bookmark {
  list-style-image: url("chrome://wat/skin/places/editBookmark.png");
  -moz-image-region: rect(0, 16px, 16px, 0);
}
.autocomplete-richlistitem[type=suggest] .ac-url-box { display: none; }
.ac-result-type-suggest,
.ac-result-type-keyword {
  list-style-image: url("chrome://global/skin/icons/Search-glass.png");
  -moz-image-region: rect(0, 32px, 16px, 16px);
}
.ac-result-type-tag {
  list-style-image: url("chrome://wat/skin/places/tag.png");
}
.ac-result-type-bookmark,
.ac-result-type-suggest,
.ac-result-type-keyword,
.ac-result-type-tag {
  width: 16px;
  height: 16px;
}
#PopupAutoCompleteRichResult .ac-url-text {
  font-size: 1em;
}

#PlacesToolbarDropIndicator {
  list-style-image: url("chrome://wat/skin/places/toolbarDropMarker.png");
}

#wat_tabmailToolbar[customizing] {
  min-width: 15px;
}

